<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MatrixCV - Admin</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- 引入Element-UI样式，锁定版本 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
    <div id="app">
        <el-row class="tac">

        </el-row>
        <el-container>
            <el-main id="page-content">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <img id="avatar" src="images/admin_avatar.png" alt="Avatar">
                        <el-menu default-active="1">
                            <el-menu-item index="1">
                                <i class="el-icon-notebook-2"></i>
                                <span slot="title">简历概览</span>
                            </el-menu-item>
                            <el-menu-item index="2" disabled>
                                <i class="el-icon-news"></i>
                                <span slot="title">岗位描述</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="logout">
                                <i class="el-icon-user"></i>
                                <span slot="title">登出</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-card>
                        <!-- <el-row>
                            <el-card class="filter-card" shadow="never">
                                <el-row>
                                    <template>
                                        <span>投递岗位</span>
                                        <el-select v-model="filterFrom.positionName" placeholder="请选择">
                                            <el-option label="产品经理" value="产品经理"></el-option>
                                            <el-option label="前端" value="前端"></el-option>
                                        </el-select>
                                    </template>
                                    <template>
                                        <span>环节状态</span>
                                        <el-select v-model="filterFrom.state" placeholder="请选择">
                                            <el-option label="待处理" value="待处理"></el-option>
                                            <el-option label="面试中" value="面试中"></el-option>
                                            <el-option label="已结束" value="已结束"></el-option>
                                        </el-select>
                                    </template>
                                </el-row>
                                <el-row id="filter-button-row">
                                    <el-button @click="" type="primary" round>筛 选</el-button>
                                </el-row>
                            </el-card>
                        </el-row> -->
                        <el-row>
                            <template>
                                <el-tabs v-model="activeName" @tab-click="handleTabClick">
                                    <el-tab-pane label="未完成" name="未完成">
                                        <template>
                                            <el-table height="700" ref="filterUnfinishedTable"
                                                :data="unfinishedTableData" style="width: 100%">
                                                <el-table-column type="expand">
                                                    <template slot-scope="detials">
                                                        <el-form label-position="left" label-width="100px"
                                                            class="demo-table-expand">
                                                            <el-form-item label="姓名">
                                                                <span>{{ detials.row.name }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="年级">
                                                                <span>{{ detials.row.grade }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="院系">
                                                                <span>{{ detials.row.college }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="专业">
                                                                <span>{{ detials.row.major }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="项目经验">
                                                                <span>{{ detials.row.project_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="实习经验">
                                                                <span>{{ detials.row.internship_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="校园活动经验">
                                                                <span>{{ detials.row.activity_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="自身技能">
                                                                <span>{{ detials.row.skill }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="自我评价">
                                                                <span>{{ detials.row.evaluation }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="面试地点">
                                                                <span>{{ detials.row.place }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="用户空闲时间">
                                                                <span>{{ detials.row.freeTime }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="用户备注">
                                                                <span>{{ detials.row.remark }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="面试时间">
                                                                <span>{{ detials.row.interviewTime }}</span>
                                                            </el-form-item>
                                                            <el-form-item v-if="detials.row.attachment" label="附件下载">
                                                                <el-button size="mini" round
                                                                    @click="downloadAttachment(detials.row.attachment)">
                                                                    {{ detials.row.attachment }}
                                                                </el-button>
                                                            </el-form-item>
                                                        </el-form>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column prop="id" label="ID" width="120">
                                                </el-table-column>
                                                <el-table-column prop="name" label="投递人姓名" width="100">
                                                </el-table-column>
                                                <el-table-column prop="position" label="投递岗位" sortable width="120"
                                                    column-key="position"
                                                    :filters="[{text: '前端', value: '前端'}, {text: '服务端', value: '服务端'}, {text: '后台', value: '后台'}, {text: '产品经理', value: '产品经理'}, {text: '设计师', value: '设计师'}, {text: '运营', value: '运营'}]"
                                                    :filter-method="filterHandler">
                                                </el-table-column>
                                                <el-table-column prop="deliveryTime" label="投递时间" width="180">
                                                </el-table-column>
                                                <el-table-column prop="state" label="环节状态" sortable
                                                    :filters="[{ text: '待处理', value: '待处理' }, { text: '面试中', value: '面试中' }]"
                                                    :filter-method="filterState" filter-placement="bottom-end">
                                                    <template slot-scope="scope">
                                                        <el-tooltip class="item" effect="dark"
                                                            :content="scope.row.state === '待处理' ? '为其选择面试时间' : '确认面试通过情况'"
                                                            placement="right">
                                                            <el-button
                                                                :type="scope.row.state === '待处理' ? 'primary' : 'success'"
                                                                :plain="scope.row.state === '面试中'"
                                                                @click="scope.row.state === '待处理' ? handlePendingClick(scope.row.id) : handleCompleteClick(scope.row.id)"
                                                                size="mini">
                                                                {{scope.row.state}}
                                                            </el-button>
                                                        </el-tooltip>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </template>
                                    </el-tab-pane>
                                    <el-tab-pane label="已完成" name="已完成">
                                        <template>
                                            <el-table height="700" ref="filterFinishedTable" :data="finishedTableData"
                                                style="width: 100%">
                                                <el-table-column type="expand">
                                                    <template slot-scope="detials">
                                                        <el-form label-position="left" label-width="100px"
                                                            class="demo-table-expand">
                                                            <el-form-item label="姓名">
                                                                <span>{{ detials.row.name }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="年级">
                                                                <span>{{ detials.row.grade }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="院系">
                                                                <span>{{ detials.row.college }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="专业">
                                                                <span>{{ detials.row.major }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="项目经验">
                                                                <span>{{ detials.row.project_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="实习经验">
                                                                <span>{{ detials.row.internship_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="校园活动经验">
                                                                <span>{{ detials.row.activity_exp }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="自身技能">
                                                                <span>{{ detials.row.skill }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="自我评价">
                                                                <span>{{ detials.row.evaluation }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="面试地点">
                                                                <span>{{ detials.row.place }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="用户空闲时间">
                                                                <span>{{ detials.row.freeTime }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="用户备注">
                                                                <span>{{ detials.row.remark }}</span>
                                                            </el-form-item>
                                                            <el-form-item label="面试时间">
                                                                <span>{{ detials.row.interviewTime }}</span>
                                                            </el-form-item>
                                                            <el-form-item v-if="detials.row.attachment" label="附件下载">
                                                                <el-button size="mini" round
                                                                    @click="downloadAttachment(detials.row.attachment)">
                                                                    {{ detials.row.attachment }}
                                                                </el-button>
                                                            </el-form-item>
                                                        </el-form>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column prop="id" label="ID" width="100">
                                                </el-table-column>
                                                <el-table-column prop="name" label="投递人姓名" width="100">
                                                </el-table-column>
                                                <el-table-column prop="position" label="投递岗位" sortable width="120"
                                                    column-key="position"
                                                    :filters="[{text: '前端', value: '前端'}, {text: '服务端', value: '服务端'}, {text: '后台', value: '后台'}, {text: '产品经理', value: '产品经理'}, {text: '设计师', value: '设计师'}, {text: '运营', value: '运营'}]"
                                                    :filter-method="filterHandler">
                                                </el-table-column>
                                                <el-table-column prop="deliveryTime" label="投递时间" width="180">
                                                </el-table-column>
                                                <el-table-column prop="state" label="环节状态" sortable
                                                    :filters="[{ text: '已结束', value: '已结束' }, { text: '已通过', value: '已通过' }]"
                                                    :filter-method="filterState" filter-placement="bottom-end">
                                                    <template slot-scope="scope">
                                                        <el-button
                                                            :type="scope.row.state === '已结束' ? 'info' : 'warning'"
                                                            size="mini" disabled plain>
                                                            {{scope.row.state}}
                                                        </el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </template>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                        </el-row>
                    </el-card>
                </el-row>
            </el-main>
            <!-- 投递表单弹出框 -->
            <el-dialog title="面试安排" :visible.sync="timeSettingDialogFormVisible">
                <el-form :model="interviewTimeSettingForm">
                    <el-form-item label="面试岗位" prop="position">
                        <el-input v-model="interviewTimeSettingForm.position" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="面试地点" prop="place">
                        <el-input v-model="interviewTimeSettingForm.place" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="用户空闲时间" prop="freeTime">
                        <el-input v-model="interviewTimeSettingForm.freeTime" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="用户备注" prop="remark">
                        <el-input type="textarea" v-model="interviewTimeSettingForm.remark" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="请确定面试时间">
                        <el-col :span="7">
                            <el-date-picker type="date" placeholder="选择日期" v-model="interviewTimeSettingForm.date1"
                                style="width: 100%;">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="1">
                            <div style="padding: 1px;"></div>
                        </el-col>
                        <el-col :span="8">
                            <el-time-picker placeholder="选择时间" v-model="interviewTimeSettingForm.date2"
                                style="width: 100%;">
                            </el-time-picker>
                        </el-col>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <span style="margin: 0 30px">* 一经提交不能再修改</span>
                    <el-button @click="timeSettingDialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitTimeSettingForm">流 转</el-button>
                </div>
            </el-dialog>
            <div class="line"></div>
            <el-footer id="page-footer">
                <small>&copy; Copyright 2019 by owtotwo</small>
            </el-footer>
        </el-container>
    </div>
</body>

<!-- 引入本地Vue开发环境版本，包含了有帮助的命令行警告 -->
<script src="javascripts/vue.js"></script>
<!-- Vue开发环境版本，包含了有帮助的命令行警告 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- Vue生产环境版本，优化了尺寸和速度 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- 引入Element-UI组件库，锁定版本 -->
<script src="https://unpkg.com/element-ui@2.9.1/lib/index.js"></script>

<!-- 引入axios库，版本为0.19.0 -->
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>

<!-- 处理Json Web Token -->
<script src="javascripts/tokenHandler.js"></script>

<!-- 本页面的包含Vue内容的Js，放在Vue后面 -->
<script src="javascripts/admin.js"></script>

</html>