<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MatrixCV - Profile</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- 引入Element-UI样式，锁定版本 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>

<body>
    <div id="app">
        <div id="page-menu">
            <el-menu class="el-menu-demo" mode="horizontal" default-active="4">
                <el-menu-item class="demo-image" style="vertical-align: sub; margin: 0">
                    <el-image style="width: 140px; height: 58px" src="images/logo.png" fit="contain">
                    </el-image>
                </el-menu-item>
                <el-menu-item index="4" style="float: right;">
                    <el-link href="/profile" target="_blank" :underline="false">个人中心</el-link>
                </el-menu-item>
                <el-menu-item index="3" style="float: right;" disabled>关于我们</el-menu-item>
                <el-menu-item index="2" style="float: right;">招聘岗位</el-menu-item>
                <el-menu-item index="1" style="float: right;">
                    <el-link href="/" target="_blank" :underline="false">主页</el-link>
                </el-menu-item>
            </el-menu>
        </div>
        <el-container>
            <el-main id="page-content">
                <el-row :gutter="20">
                    <el-col :span="16">
                        <el-card v-if="isCVreadonly == true" id="my-cv" class="box-card">
                            <div slot="header" class="clearfix">
                                <span>我的简历</span>
                                <el-button style="float: right; padding: 3px 0" type="text">编辑简历</el-button>
                            </div>
                            <el-form ref="cv" :model="cv" label-width="100px">
                                <el-form-item label="姓名">
                                    <el-input v-model="cv.name" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="年级">
                                    <el-input v-model="cv.grade" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="院系">
                                    <el-input v-model="cv.college" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="专业">
                                    <el-input v-model="cv.major" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="项目经验">
                                    <el-input type="textarea" v-model="cv.project_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="实习经验">
                                    <el-input type="textarea" v-model="cv.internship_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="校园活动经验">
                                    <el-input type="textarea" v-model="cv.activity_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="自身技能">
                                    <el-input type="textarea" v-model="cv.skill" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="自我评价">
                                    <el-input type="textarea" v-model="cv.evaluation" :readonly="true"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-card>
                        <el-card v-if="isCVreadonly == false" id="new-cv" class="box-card">
                            <div slot="header" class="clearfix">
                                <span>新建简历</span>
                            </div>
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px"
                                class="demo-ruleForm">
                                <el-form-item label="姓名" prop="name">
                                    <el-input v-model="ruleForm.name"></el-input>
                                </el-form-item>
                                <el-form-item label="年级" prop="grade">
                                    <el-input v-model="ruleForm.grade"></el-input>
                                </el-form-item>
                                <el-form-item label="院系" prop="college">
                                    <el-input v-model="ruleForm.college"></el-input>
                                </el-form-item>
                                <el-form-item label="专业" prop="major">
                                    <el-input v-model="ruleForm.major"></el-input>
                                </el-form-item>
                                <el-form-item label="项目经验" prop="project_exp">
                                    <el-input type="textarea" v-model="ruleForm.project_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="实习经验" prop="internship_exp">
                                    <el-input type="textarea" v-model="ruleForm.internship_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="校园活动经验" prop="activity_exp">
                                    <el-input type="textarea" v-model="ruleForm.activity_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="自身技能" prop="skill">
                                    <el-input type="textarea" v-model="ruleForm.skill"></el-input>
                                </el-form-item>
                                <el-form-item label="自我评价" prop="evaluation">
                                    <el-input type="textarea" v-model="ruleForm.evaluation"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card id="my-deliveries" class="box-card">
                            <div slot="header" class="clearfix">
                                <span>我的投递</span>
                                <el-switch v-model="isCVreadonly" active-text="查看简历" inactive-text="编辑简历"></el-switch>
                            </div>
                            <div v-for="delivery in deliveries" class="delivery-card">
                                <el-form label-width="40px">
                                    <el-card class="box-card" shadow="hover">
                                        <el-form-item label="岗位">
                                            <el-input v-model="delivery.position" :readonly="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="环节">
                                            <el-input v-model="delivery.state" :readonly="true"></el-input>
                                        </el-form-item>
                                        <div v-if="delivery.state == '面试中'">
                                            <el-form-item label="时间">
                                                <el-input v-model="delivery.interviewInfo.time" :readonly="true">
                                                </el-input>
                                            </el-form-item>
                                            <el-form-item label="地点">
                                                <el-input v-model="delivery.interviewInfo.place" :readonly="true">
                                                </el-input>
                                            </el-form-item>
                                        </div>
                                    </el-card>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <p style="text-align: center;">
                    <el-button @click="">
                        投递简历
                    </el-button>
                </p>
            </el-main>
            <div class="line"></div>
            <el-footer id="page-footer">
                <small>&copy; Copyright 2019 by owtotwo</small>
            </el-footer>
        </el-container>
    </div>
</body>

<!-- 引入本地Vue开发环境版本，包含了有帮助的命令行警告 -->
<script src="javascripts/vue.js"></script>
<!-- Vue开发环境版本，包含了有帮助的命令行警告 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- Vue生产环境版本，优化了尺寸和速度 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- 引入Element-UI组件库，锁定版本 -->
<script src="https://unpkg.com/element-ui@2.9.1/lib/index.js"></script>

<!-- 本页面的包含Vue内容的Js，放在Vue后面 -->
<script src="javascripts/profile.js"></script>

</html>