<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MatrixCV - Profile</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- 引入Element-UI样式，锁定版本 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>

<body>
    <div id="app">
        <div id="page-menu">
            <el-menu class="el-menu-demo" mode="horizontal" default-active="4">
                <el-menu-item class="demo-image" style="vertical-align: sub; margin: 0">
                    <el-image style="width: 140px; height: 58px" src="images/logo.png" fit="contain">
                    </el-image>
                </el-menu-item>
                <el-menu-item index="4" style="float: right;">
                    <el-link href="/profile.html" :underline="false">个人中心</el-link>
                </el-menu-item>
                <el-menu-item index="3" style="float: right;" disabled>关于我们</el-menu-item>
                <el-menu-item index="2" style="float: right;">招聘岗位</el-menu-item>
                <el-menu-item index="1" style="float: right;">
                    <el-link href="/" :underline="false">主页</el-link>
                </el-menu-item>
            </el-menu>
        </div>
        <el-container>
            <el-main id="page-content">
                <el-row :gutter="20">
                    <el-col :span="16">
                        <el-card v-if="isCVreadonly && hasCV" id="my-cv" class="box-card">
                            <div slot="header" class="clearfix">
                                <span>我的简历</span>
                                <el-button @click="isCVreadonly = false" style="float: right; padding: 3px 0"
                                    type="text">编辑简历</el-button>
                            </div>
                            <el-form ref="cv" :model="cv" label-width="100px">
                                <el-form-item label="姓名">
                                    <el-input v-model="cv.name" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="年级">
                                    <el-input v-model="cv.grade" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="院系">
                                    <el-input v-model="cv.college" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="专业">
                                    <el-input v-model="cv.major" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="项目经验">
                                    <el-input type="textarea" v-model="cv.project_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="实习经验">
                                    <el-input type="textarea" v-model="cv.internship_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="校园活动经验">
                                    <el-input type="textarea" v-model="cv.activity_exp" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="自身技能">
                                    <el-input type="textarea" v-model="cv.skill" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item label="自我评价">
                                    <el-input type="textarea" v-model="cv.evaluation" :readonly="true"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-card>
                        <el-card v-if="isCVreadonly == false" id="new-cv" class="box-card">
                            <div slot="header" class="clearfix">
                                <span v-if="hasCV">编辑简历</span>
                                <span v-else>新建简历</span>
                            </div>
                            <el-form :model="ruleCvForm" :rules="rules" ref="ruleCvForm" label-width="100px"
                                class="demo-ruleCvForm">
                                <el-form-item label="姓名" prop="name">
                                    <el-input v-model="ruleCvForm.name"></el-input>
                                </el-form-item>
                                <el-form-item label="年级" prop="grade">
                                    <el-input v-model="ruleCvForm.grade"></el-input>
                                </el-form-item>
                                <el-form-item label="院系" prop="college">
                                    <el-input v-model="ruleCvForm.college"></el-input>
                                </el-form-item>
                                <el-form-item label="专业" prop="major">
                                    <el-input v-model="ruleCvForm.major"></el-input>
                                </el-form-item>
                                <el-form-item label="项目经验" prop="project_exp">
                                    <el-input type="textarea" v-model="ruleCvForm.project_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="实习经验" prop="internship_exp">
                                    <el-input type="textarea" v-model="ruleCvForm.internship_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="校园活动经验" prop="activity_exp">
                                    <el-input type="textarea" v-model="ruleCvForm.activity_exp"></el-input>
                                </el-form-item>
                                <el-form-item label="自身技能" prop="skill">
                                    <el-input type="textarea" v-model="ruleCvForm.skill"></el-input>
                                </el-form-item>
                                <el-form-item label="自我评价" prop="evaluation">
                                    <el-input type="textarea" v-model="ruleCvForm.evaluation"></el-input>
                                </el-form-item>
                                <el-card style="margin-bottom: 20px;">
                                        <!--  -->
                                    <el-upload class="upload-demo" action="/api/user/attachment"
                                        :headers="getJwtAuthHeaderObj()"
                                        :on-preview="handlePreview" :on-remove="handleRemove"
                                        :before-remove="beforeRemove" :limit="1" :on-exceed="handleExceed"
                                        :before-upload="onBeforeUpload" :on-success="onUploadSuccess"
                                        :file-list="fileList"
                                        accept=".zip">
                                        <span style="margin: 10px;">
                                            <i class="el-icon-files" style="margin-right: 10px;"></i>
                                            附件
                                        </span>
                                        <el-button size="small" type="primary">点击上传</el-button>
                                        <div slot="tip" class="el-upload__tip">(只能上传1个zip文件，且不超过 2 MB)</div>
                                    </el-upload>
                                </el-card>
                                <el-form-item>
                                    <el-button type="primary" @click="submitCvForm('ruleCvForm')">保存</el-button>
                                    <el-button v-if="hasCV" @click="loadMyCv(() => (isCVreadonly = true))">取消
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card id="my-deliveries" class="box-card">
                            <div slot="header" class="clearfix">
                                <span>我的投递</span>
                                <!-- <el-switch v-model="isCVreadonly" active-text="查看简历" inactive-text="编辑简历"></el-switch> -->
                            </div>
                            <div v-for="delivery in deliveries" class="delivery-card">
                                <el-form label-width="40px">
                                    <el-card class="box-card" shadow="hover">
                                        <el-form-item label="岗位">
                                            <el-input v-model="delivery.position" :readonly="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="环节">
                                            <el-input v-model="delivery.state" :readonly="true"></el-input>
                                        </el-form-item>
                                        <div v-if="delivery.state == '面试中'">
                                            <el-form-item label="时间">
                                                <el-input v-model="delivery.interviewInfo.time" :readonly="true">
                                                </el-input>
                                            </el-form-item>
                                            <el-form-item label="地点">
                                                <el-input v-model="delivery.interviewInfo.place" :readonly="true">
                                                </el-input>
                                            </el-form-item>
                                        </div>
                                    </el-card>
                                </el-form>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <p style="text-align: center;">
                    <el-button @click="logout" type="danger" plain>
                        登 出
                    </el-button>
                </p>
            </el-main>
            <div class="line"></div>
            <el-footer id="page-footer">
                <small>&copy; Copyright 2019 by owtotwo</small>
            </el-footer>
        </el-container>
    </div>
</body>

<!-- 引入本地Vue开发环境版本，包含了有帮助的命令行警告 -->
<!-- <script src="javascripts/vue.js"></script> -->
<!-- Vue开发环境版本，包含了有帮助的命令行警告 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- Vue生产环境版本，优化了尺寸和速度 -->
<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>

<!-- 引入Element-UI组件库，锁定版本 -->
<script src="https://unpkg.com/element-ui@2.9.1/lib/index.js"></script>

<!-- 引入axios库，版本为0.19.0 -->
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>

<!-- 处理Json Web Token -->
<script src="javascripts/tokenHandler.js"></script>

<!-- 本页面的包含Vue内容的Js，放在Vue后面 -->
<script src="javascripts/profile.js"></script>

</html>